<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>lovedaresnot</title>
    {% if role != 'manager' and mode == 'setup' %}
    <meta http-equiv="refresh" content="5" />
    {% endif %}
  </head>
  <body>
    <h1>lovedaresnot</h1>
    {% if mode == 'setup' %}
      {% if role == 'manager' %}
    <div class="form_area">
      <h2>setup consensor group</h2>
      <form action="/" method="post">
        <p><input name="consensors" class="form_text" type="text" placeholder="consensor ips" /></p>
        <p><input type="submit" /></p>
      </form>
    </div>
      {% else %}
    <h2>Waiting for manager...</h2>
      {% endif %}
    {% elif mode == 'consensing' %}
    <div>
      <h2>consensors:</h2>
      <p>{% for c in consensors %}
      {% if not loop.first %}, {% endif %}
      {{c}}
      {% endfor %}</p>
    </div>
    <div class="form_area">
      <h2>new snot dare</h2>
      <form action="/new_snot_dare" method="post">
        <p><input name="snot_dare" class="form_text" type="text" placeholder="snot dare" /></p>
        <p><input type="submit" value="submit" /></p>
      </form>
    </div>
    List of:<br/>
    - snot dare<br/>
    - Consensor IPs<br/>
    - Status<br/>
    - Your Vote
    {% endif %}
  </body>
</html>
